@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Puritan&display=swap');

html, body {
    font-family: 'Assistant', sans-serif;
    background-color: whitesmoke;
    height: 100%;
}

.title {
    font-family: 'Puritan', sans-serif ;
}

.cursor-hand {
    cursor: pointer;
}

.cursor-text {
    cursor: text;
}

.task-input {
    font-size: 0.80rem;
}

.task-details {
    font-size: 0.80rem;
    white-space: pre-wrap;
}
